<!--
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Medium_logo_Wordmark_Black.svg/1280px-Medium_logo_Wordmark_Black.svg.png" alt="">
    <img class="logo-small" src="https://miro.medium.com/max/390/1*emiGsBgJu2KHWyjluhKXQw.png" alt="">
    <button type="button" id="callNewPostFormBtn" class="btn btn-outline-dark" data-toggle="modal" data-target="#newPost">Subir post</button>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->

<div class="card row">
    <div class="col-md-3">
        <img src="" alt="">
    </div>
    <div class="col-md-9">
        <div class="car-body">
            
        </div>
    </div>
</div>